includes:
	- vendor/phpstan/phpstan-doctrine/extension.neon
	- vendor/phpstan/phpstan-symfony/extension.neon
parameters:
	symfony:
		container_xml_path: %rootDir%/../../../var/cache/dev/srcApp_KernelDevDebugContainer.xml
	reportUnmatchedIgnoredErrors: false
	autoload_files:
		- %rootDir%/../../../vendor/autoload.php
	ignoreErrors:
		- '#Call to an undefined method [a-zA-Z0-9\\_<>:]+::findOneBy[A-Z][a-zA-Z]*\(\)#'
		- '#Call to an undefined method [a-zA-Z0-9\\_<>:]+::find[A-Z][a-zA-Z]*\(\)#'
